body {
		margin-top: 1;
		padding: 0;
		background: lightgray;
		color: black;
		font-family: arial;
	}
h1 { 
		color: gray;
		font-family: 'Petit Formal Script', cursive;
}

main {  
		color: black;
 		padding: 5em;
 	}
 ul { 
  		list-style-type: circle;
 		color: black; }